global
    #log /dev/log    local5
    #log /dev/log    local5 notice
    #stats socket /run/haproxy/admin.sock mode 660 level admin
    #stats timeout 30s

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen stats
    bind *:8081
    stats enable
    stats uri /haproxy
    stats show-legends
    stats show-node
    stats realm 'Auth required'
    stats auth foo:bar
    stats admin if TRUE

frontend myfront
    ### Add X-Forwarded-For header
    ### option  forwardfor

    maxconn 800
    bind *:8080
    default_backend myback

    errorfile 503 /usr/local/etc/haproxy/responses/503.http

    ### reqadd 'X-Tracability: haproxy-myfront'
    http-request add-header 'X-Haproxy-Frontend' 'myfront'

backend myback
    balance roundrobin

    option allbackups
    
    option tcp-check
    option httpchk
    http-check send-state
    timeout check 2s

    default-server inter 3s

    http-send-name-header 'X-Haproxy-Backend-Server'

    server web00 whoami-0:80 check
    server web01 whoami-1:80 check
    server web02 whoami-2:80 check
    server web03 whoami-3:80 check backup
    server web04 whoami-4:80 check backup
